@font-face {
  font-family: nordic-font;
  src: url(./font/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    --content-left-padding: 40px;
}

.webpage {
    display: flex;
}

.image-sidebar a {
    color: white;
}

.image-sidebar {
    position: relative;
    background-image: url("./images/ring.jpg");
    width: 40vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.site-name {
    position: absolute;
    top: 30vh;
    display: flex;
    padding: 20px;
    margin: 0;
    justify-content: center;
    background-color: black;
    background: rgba(39, 33, 33, 0.7);
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.site-name p {
    color: white;
    font-size: clamp(100px, 15vh, 150px);
    font-family: nordic-font;
}

.site-name img {
    box-sizing: border-box;
    height: clamp(100px, 15vh, 150px);
    width: auto;
}

.image-credits {
    color: white;
    font-size: 1.5rem;
}

#password:invalid {
    border: 2px solid red;
}

#conf-password:invalid {
    border: 2px solid red;
}


.content {
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
}

.description {
    padding-left: var(--content-left-padding);
}

form {
    width: 60vw;
    padding: 40px;
    padding-left: var(--content-left-padding);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.name, .credentials, .pw {
    display: flex;
    justify-content: left;
    gap: 15vw;
}

form > div > div {
    display: flex;
    flex-direction: column;
}

form > div > div > input {
    font-size: 2rem;
}

.create-account, .old-user {
    padding-left: var(--content-left-padding);
}

button {
    font-size: 2rem;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 0;
    background-color: rgb(247, 186, 110);
    border-radius: 10px;
}
