@font-face {
  font-family: nordic-font;
  src: url(./font/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

.webpage {
    display: flex;
}

.image-sidebar a {
    color: white;
}

.image-sidebar {
    position: relative;
    background-image: url("./images/ring.jpg");
    width: 40%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.site-name {
    position: absolute;
    top: 30vh;
    display: flex;
    padding: 20px;
    margin: 0;
    justify-content: center;
    background-color: black;
    background: rgba(39, 33, 33, 0.7);
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.site-name p {
    color: white;
    font-size: 10rem;
    font-family: nordic-font;
}

.site-name img {
    height: 14rem;
}

.image-credits {
    color: white;
    font-size: 2rem;
}